/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none !important;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
}
